@use "../styles/swierkosz";

@use "@material/theme" with (
  $primary: swierkosz.$primary,
  $secondary: swierkosz.$secondary,
  $background: swierkosz.$background,
  $surface: swierkosz.$surface,
  $on-primary: swierkosz.$on-primary,
  $on-secondary: swierkosz.$on-secondary,
  $on-surface: swierkosz.$on-surface,
);
@use "@material/theme/custom-properties";

@use "@material/typography" with (
  $font-family: unquote("Roboto Mono, Roboto, Arial, Helvetica, sans-serif")
);

@use "@material/shape" with (
  $small-component-radius: 4px,
  $medium-component-radius: 16px,
  $large-component-radius: 24px
);

@use "@material/layout-grid/mdc-layout-grid";
@use "@material/card";
@use "@material/chips";
@use "@material/chips/styles";
@use "@material/elevation";

@include theme.core-styles;
@include typography.core-styles;
@include card.core-styles;

body {
  margin: 0;
  padding: 0;
  @include theme.property(background-color, background);
  @include theme.property(color, swierkosz.$on-background);
}

#header {
  padding: 192px;

  .subheader {
    margin: 0;
  }

  .header {
    margin: 12px 0;
  }
}

#projects {
  .mdc-card {
    height: 100%;
  }
}

.mdc-evolution-chip-set {
  @include chips.horizontal-space-between-chips(8px)
}

.mdc-evolution-chip {
  @include elevation.elevation(0);
  @include chips.outline-color(swierkosz.$outline);
  @include chips.outline-width(1px);
  @include chips.outline-style(solid);
  @include chips.container-color(theme.$surface);
  @include chips.shape-radius(8px);
  @include chips.text-label-color(swierkosz.$on-surface-variant);

  & &__action {
    &--primary {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__text-label {
    font-weight: 500;
  }
}

.mdc-card {
  text-align: start;
  overflow: hidden;

  &__header-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 16px;
  }

  &__text-section {
    padding-right: 16px;
    padding-left: 16px;

    * {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      padding-left: 20px;
      margin-top: 12px;

      li {
        overflow: visible;

        &:not(:first-child) {
          margin-top: .5em;
        }
      }
    }

    &:first-child {
      padding-top: 16px;
    }

    & + :not(:first-of-type) {
      padding-top: 18px;
    }

    &:last-child {
      padding-bottom: 16px;
    }
  }

  &__actions {
    padding: 16px;
    justify-content: flex-end;
  }

  &__headline {
    @include typography.typography(headline4);
  }

  &__subhead {
    @include typography.typography(subtitle1);
    margin: 4px 0 0;
  }

  &__supporting-text {
    @include typography.typography(body2);

    &:not(:last-of-type) {
      margin-bottom: 1em;
    }

    + .postscript {
      padding: .75em 1em;
      font-weight: 500;
      @include shape.radius(4px);
      border-left: 4px solid;
      @include theme.property(border-color, custom-properties.create(--mdc-theme-surface-variant, swierkosz.$on-surface-variant));
      @include theme.property(background, custom-properties.create(--mdc-theme-surface-variant, swierkosz.$surface-variant));
      @include theme.property(color, custom-properties.create(--mdc-theme-on-surface-variant, swierkosz.$on-surface-variant));
    }
  }

  &--outlined {
    @include card.fill-color(swierkosz.$surface);
    @include elevation.elevation(0);
    @include card.outline(swierkosz.$outline, 1px);

  }
}