$primary: #006B56;
$on-primary: #FFFFFF;
$primary-container: #7CF8D7;
$on-primary-container: #002019;
$secondary: #4B635B;
$on-secondary: #FFFFFF;
$secondary-container: #CDE9DE;
$on-secondary-container: #072019;
$tertiary: #416277;
$on-tertiary: #FFFFFF;
$tertiary-container: #C5E7FF;
$on-tertiary-container: #001E2D;
$background: #FAFDFA;
$on-background: #191C1B;
$surface: #FAFDFA;
$on-surface: #191C1B;
$surface-variant: #DBE5E0;
$on-surface-variant: #3F4945;
$outline: #707975;