@use "../styles/swierkosz";

@use "@material/theme" with (
  $primary: swierkosz.$primary,
  $secondary: swierkosz.$secondary,
  $background: swierkosz.$background,
  $surface: swierkosz.$surface,
  $on-primary: swierkosz.$on-primary,
  $on-secondary: swierkosz.$on-secondary,
  $on-surface: swierkosz.$on-surface,
);
@use "@material/theme/custom-properties";

@use "@material/typography" with (
  $font-family: unquote("Roboto Mono, Roboto, Arial, Helvetica, sans-serif")
);

@use "@material/shape" with (
  $small-component-radius: 4px,
  $medium-component-radius: 16px,
  $large-component-radius: 24px
);

@use "@material/layout-grid";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/card";
@use "@material/chips";
@use "@material/chips/styles";
@use "@material/elevation";

@include theme.core-styles;
@include typography.core-styles;
@include card.core-styles;

body {
  margin: 0;
  padding: 0;
  @include theme.property(background-color, background);
  @include theme.property(color, swierkosz.$on-background);
}

#header {
  padding: 192px;

  .header {
    margin: 12px 0;
  }

  .subheader {
    margin: 0;
  }
}

#projects {
  .mdc-layout-grid {
    padding: 24px 192px;
  }

  .mdc-card {
    height: 100%;
  }
}

.mdc-evolution-chip-set {
  @include chips.horizontal-space-between-chips(8px)
}

.mdc-evolution-chip {
  @include elevation.elevation(0);
  @include chips.outline-color(swierkosz.$outline);
  @include chips.outline-width(1px);
  @include chips.outline-style(solid);
  @include chips.container-color(surface);
  @include chips.shape-radius(8px);
  @include chips.text-label-color(swierkosz.$on-surface-variant);

  & &__action {
    &--primary {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__text-label {
    font-weight: 500;
  }
}

.mdc-card {
  text-align: start;
  overflow: hidden;

  &__header-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 16px;
  }

  &__text-section {
    padding-right: 16px;
    padding-left: 16px;

    * {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      padding-left: 20px;
      margin-top: 12px;

      li {
        overflow: visible;

        &:not(:first-child) {
          margin-top: .5em;
        }
      }
    }

    &:first-child {
      padding-top: 16px;
    }

    & + :not(:first-of-type) {
      padding-top: 18px;
    }

    &:last-child {
      padding-bottom: 16px;
    }
  }

  &__actions {
    padding: 16px;
    justify-content: flex-end;
  }

  &__headline {
    @include typography.typography(headline4);
  }

  &__subhead {
    @include typography.typography(subtitle1);
    font-weight: 500;
    margin: 4px 0 0;
  }

  &__supporting-text {
    @include typography.typography(body2);

    &:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__supporting-text.postscript {
    padding: .75em 1em;
    font-weight: 500;
    @include shape.radius(4px);
    border-left: 4px solid;
    @include theme.property(border-color, custom-properties.create(--mdc-theme-surface-variant, swierkosz.$on-surface-variant));
    @include theme.property(background, custom-properties.create(--mdc-theme-surface-variant, swierkosz.$surface-variant));
    @include theme.property(color, custom-properties.create(--mdc-theme-on-surface-variant, swierkosz.$on-surface-variant));

    a {
      display: inline-flex;
      @include theme.property(background, secondary);
      @include theme.property(color, on-secondary);
      padding: 0 4px;
      text-decoration: none;
      line-height: 1.5rem;
      border-radius: 4px;
      font-weight: 400;

      &:visited, &:hover {
        @include theme.property(background, custom-properties.create(--mdc-theme-on-secondary-container, swierkosz.$on-secondary-container));
        @include theme.property(color, on-secondary);
      }

      &:hover {
        @include theme.property(color, custom-properties.create(--mdc-theme-secondary-container, swierkosz.$secondary-container));
      }
    }
  }

  &--outlined {
    @include card.fill-color(surface);
    @include elevation.elevation(0);
    @include card.outline(swierkosz.$outline, 1px);
  }

  &--pinned {
    @include card.outline(primary, 4px);

    .mdc-evolution-chip--pinned {
      @include chips.outline-color(custom-properties.create(--mdc-theme-on-secondary-container, swierkosz.$on-secondary-container));
      @include chips.outline-width(2px);
      @include chips.container-color(custom-properties.create(--mdc-theme-secondary-container, swierkosz.$secondary-container));
      @include chips.text-label-color(custom-properties.create(--mdc-theme-on-secondary-container, swierkosz.$on-secondary-container));
      @include chips.icon-color(custom-properties.create(--mdc-theme-on-secondary-container, swierkosz.$on-secondary-container));
    }
  }
}

.mdc-layout-grid__cell--span-row-2 {
  grid-row-end: span 2;
}

@media (min-width: 1240px) and (max-width: 1439px) {
  #header {
    padding: 96px 96px 192px;
  }

  #projects {
    .mdc-layout-grid {
      padding: 24px 96px;

      .mdc-layout-grid__inner {
        @include layout-grid.inner(desktop, 8, 0);
      }
    }
  }
}

@media (min-width: 840px) and (max-width: 1239px) {
  #header {
    padding: 96px 96px 192px;
  }

  #projects {
    .mdc-layout-grid {
      padding: 24px 96px;

      .mdc-layout-grid__inner {
        @include layout-grid.inner(tablet, 8, 0);
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  #header {
    padding: 48px 48px 96px 48px;

    .header {
      @include typography.typography(headline2);
      margin: 8px 0;
    }

    .subheader {
      @include typography.typography(subtitle1);
    }
  }

  #projects {
    .mdc-layout-grid {
      padding: 24px 48px;

      .mdc-layout-grid__inner {
        @include layout-grid.inner(tablet, 4, 0);
      }
    }
  }
}

@media (max-width: 599px) {
  #header {
    padding: 24px 16px 36px;

    .header {
      @include typography.typography(headline4);
      margin: 4px 0;
    }

    .subheader {
      @include typography.typography(subtitle2);
      font-weight: 400;
    }
  }

  .mdc-card {
    &__headline {
      @include typography.typography(headline5);
    }

    &__subhead {
      @include typography.typography(subtitle2);
      margin: 2px 0 0;
    }

    &__supporting-text {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.033rem;
    }
  }

  #projects {
    .mdc-layout-grid {
      padding: 16px;

      .mdc-layout-grid__inner {
        @include layout-grid.inner(phone, 4, 0);
      }
    }
  }
}